
  <!---===================== Navigation ==================================-->
  <nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#home"><img src="{{site.baseurl}}/assets/logo/favicon.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"><i class="fa fa-bars" aria-hidden="true"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#home">home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#price">price</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team">team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#client">client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">contact</a>
      </li>
    </ul>
  </div>
</nav>
</div>
